html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.timeSection {
    float: right;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    animation: flipAnimation 1s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}


@keyframes flipAnimation {
  0% {
  -webkit-transform: rotateY(90deg);
  -moz-transform:    rotateY(90deg);
  -ms-transform:     rotateY(90deg);
  -o-transform:      rotateY(90deg);
  transform:         rotateY(90deg);
  }
  
  100% {
  -webkit-transform: rotateY(0deg);
  -moz-transform:    rotateY(0deg);
  -ms-transform:     rotateY(0deg);
  -o-transform:      rotateY(0deg);
  transform:         rotateY(0deg);
  }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.stars .fa-star {
    color: orange;
}

.wrong {
    animation: wrongAnimation 0.3s;
}

@keyframes wrongAnimation {
          0%, 100% {background-color: red;}
          50% {background-color: red;}
          70% {background-color: orange;}

          0% {
          -webkit-transform: rotate(0);
          -moz-transform:    rotate(0);
          -ms-transform:     rotate(0);
          -o-transform:      rotate(0);
           transform: rotate(0);
        }

          25% {
          -webkit-transform: rotate(-8deg);
          -moz-transform:    rotate(-8deg);
          -ms-transform:     rotate(-8deg);
          -o-transform:      rotate(-8deg);
           transform:        rotate(-8deg);
        }

          50% {
          -webkit-transform: rotate(0deg);
          -moz-transform:    rotate(0deg);
          -ms-transform:     rotate(0deg);
          -o-transform:      rotate(0deg);
           transform:        rotate(0deg);
        }

          75% {
          -webkit-transform: rotate(8deg);
          -moz-transform:    rotate(8deg);
          -ms-transform:     rotate(8deg);
          -o-transform:      rotate(8deg);
           transform:        rotate(8deg);
        }

          100% {
          -webkit-transform: rotate(0deg);
          -moz-transform:    rotate(0deg);
          -ms-transform:     rotate(0deg);
          -o-transform:      rotate(0deg);
           transform:        rotate(0deg);
        }
}

.right {
    animation: rightAnimation 0.3s;
}

@keyframes rightAnimation {
  0%, 100% {background-color: #2ec524;}
  0% {
  -webkit-transform: scale(1,1);
  -moz-transform:    scale(1,1);
  -ms-transform:     scale(1,1);
  -o-transform:      scale(1,1);
  transform:         scale(1,1);
  }
  
  50% {
  -webkit-transform: scale(1.3,0.8);
  -moz-transform:    scale(1.3,0.8);
  -ms-transform:     scale(1.3,0.8);
  -o-transform:      scale(1.3,0.8);
   transform: scale(1.3,0.8);}
    
  90% {
  -webkit-transform: scale(0.9,0.9);
  -moz-transform:    scale(0.9,0.9);
  -ms-transform:     scale(0.9,0.9);
  -o-transform:      scale(0.9,0.9);
   transform: scalescale(0.9,0.9);}
  
  100% {
  -webkit-transform: scale(1,1);
  -moz-transform:    scale(1,1);
  -ms-transform:     scale(1,1);
  -o-transform:      scale(1,1);
   transform: scale(1,1);
}
}

.result {
    z-index: 1;
    font-size: 18px;
    visibility: hidden;
    padding: 40px;
    text-align: center;
    line-height: middle;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
}

#canvas {
  position: absolute;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.playAgain {
  cursor: pointer;
  padding: 10px;
  background-color: orange;
}